Django==2.1
psycopg2==2.7.4
gunicorn==19.7.1
fix_yahoo_finance
pandas_datareader
django-storages
boto3
whitenoise
decorator
entrypoints
html5lib
ipython-genutils
ipywidgets
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
matplotlib
mistune
notebook
numpy
pandas
pandocfilters
prompt-toolkit
Pygments
pyparsing
scipy
requests
